apiVersion: v1
kind: Secret
metadata:
  name: {{ include "conductor-oss-conductor.fullname" . }}
  labels:
    {{- include "conductor-oss-conductor.labels" . | nindent 4 }}
  {{- with (include "conductor-oss-conductor.annotations" .) }}
  annotations:
    {{- . | nindent 4 }}
  {{- end }}
type: Opaque
data:
  redis-password: {{ .Values.redis.password | b64enc | quote }}
  elasticsearch-password: {{ .Values.elasticsearch.password | b64enc | quote }}
  mysql-password: {{ .Values.mysql.password | b64enc | quote }}
  postgres-password: {{ .Values.postgres.password | b64enc | quote }}
  opensearch-password: {{ .Values.opensearch.password | b64enc | quote }}
